<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#diputados" data-toggle="tab">Diputados</a></li>
  <li><a href="#senadores" data-toggle="tab">Senadores</a></li>
  <li><a href="#gobernador" data-toggle="tab">Gobernador</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="diputados"><%= render "deputies" %></div>
  <div class="tab-pane fade" id="senadores"><%= render "senators" %></div>
  <div class="tab-pane fade" id="gobernador"><%= render "governors" %></div>
</div>

