<div class="container">
  <div class="jumbotron">
    <h1 style="text-align: center">¿Quién Gobierna?</h1>
    <p style="text-align: center">Un servicio simple y fácil donde puedes contactar a tus diputados, senadores y tu gobernador</p>
    <div class="row">
      <div class="col-xs-5">
        FORM
      </div>
      <div class="col-xs-7">
        <%= image_tag("ife.png", :class=>"img-responsive", :alt=>"Introduce los datos de tu IFE") %>
      </div>
    </div>
  </div>
</div>
