<!DOCTYPE html>
<html>
<head>
  <title>QuienGobierna</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <a href="https://github.com/Bluehats/QuienGobierna"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  <div class="container">
    <div class="well well-lg">
      Copyright(C) QuienGobierna.mx - <a href="mailto:contacto@quiengobierna.mx">contacto@quiengobierna.mx</a>
    </div>
  </div>
</body>
</html>
